@use "sass:map";

@mixin _color($color-config) {
  .ui-progress-bar {
    background-color: #7c7c7c;

    .ui-progress-bar-value {
      background-color: map.get($color-config, primary-color);
    }

    .ui-progress-bar-label {
      color: map.get($color-config, text-color);
    }
  }
}

@mixin theme($theme) {
  $color-config: map.get($theme, color-config);

  @include _color($color-config);
}
