.ui-card-wrapper {
  display: flex;
  flex-direction: column;

  ui-card-title {
    margin: 10px 0px;
  }

  ui-card-subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 10px;
  }

  ui-card-content {
    margin: 5px 0px;
    border-top: 1px solid black;
  }

  ui-card-footer {
    margin: 10px 0px;
  }
}
