@use "sass:map";
@use "sass:math";
@use "../../theming/typography/typography";
@use "packages/ng-cdk/badge/src/badge-common";

@mixin _structure() {
  .ui-badge-host {
    position: relative;
  }

  .ui-badge {
    @include badge-common.base-size();

    position: absolute;
    border-radius: 50%;
  }

  @include badge-common.position("ui-badge")
}

@mixin _color($color-config) {
  .ui-badge {
    background-color: map.get($color-config, primary-color);
    color: map.get($color-config, text-color);
  }
}

@mixin _typography($typography-config) {
  .ui-badge {
    @include typography.apply-level($typography-config, "label");
    line-height: badge-common.$base-size;
    text-align: center;
  }
}

@mixin theme($theme) {
  $color-config: map.get($theme, color-config);
  $typography-config: map.get($theme, typography-config);

  @include _structure();
  @include _color($color-config);
  @include _typography($typography-config);
}
