@use "sass:map";
@use "../../theming/typography/typography";

@mixin _color($color-config) {
  .tooltip-container {
    color: white;
    background-color: #7c7c7c;
  }
}

@mixin _typography($typography-config) {
  .tooltip-container {
    @include typography.apply-level($typography-config, "tooltip");
  }
}

@mixin theme($theme) {
  $color-config: map.get($theme, color-config);
  $typography-config: map.get($theme, typography-config);

  @include _color($color-config);
  @include _typography($typography-config);
}
